* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para o status no canto superior esquerdo */
#status {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    gap: 10px; /* Espaçamento entre os elementos */
}

#status p {
    background-color: #333; /* Cor de fundo */
    color: white;           /* Cor do texto */
    padding: 5px 10px;      /* Espaçamento interno */
    font-size: 1rem;        /* Tamanho da fonte */
    border-radius: 5px;     /* Bordas arredondadas */
}

/* Estilos para os selects no canto superior direito */
#qtd, #operation {
    position: absolute;
    top: 20px;
    background-color: #333;  /* Cor de fundo */
    color: white;            /* Cor do texto */
    border: none;            /* Remove a borda */
    padding: 5px 10px;       /* Espaçamento interno */
    font-size: 1rem;         /* Tamanho da fonte */
    border-radius: 5px;      /* Bordas arredondadas */
}

#qtd {
    right: 20px;
}

#operation {
    right: 120px;
}

body {
    background-color: #202020;
    color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #202020;
    width: 40%;
    padding: 20px;
    border-radius: 28px;
    box-shadow: 27px 27px 52px #191919, -27px -27px 52px #272727;
}

.title-game {
    margin: 10px;
    font-size: 1.5rem;
    text-align: center;
}

.question-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

/* Estilização do input */
.input-answer {
    margin: 0 10px;
    width: 80px;
    height: 35px;
    text-align: center;
    font-size: 1rem;
    border: 0px solid #ffffff; /* Borda verde */
    border-radius: 5px;        /* Bordas arredondadas */
    background-color: #303030; /* Cor de fundo */
    color: white;
}

.btn-verify,
.btn-new-question,
#question {
    margin: 5px;
    padding: 10px;
    font-size: 1rem;
}

.btn-verify,
.btn-new-question {
    width: 80%;
    cursor: pointer;
}

.btn-verify {
    background-color: #b4b4b4;
}

.btn-new-question {
    background-color: #418326;
}

@media (max-width: 768px) {
    .container {
        width: 80%;
    }

    .title-game {
        font-size: 1.2rem;
    }

    .input-answer,
    .btn-verify,
    .btn-new-question {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .container {
        width: 90%;
    }

    .title-game {
        font-size: 2rem;
    }

    .input-answer,
    .btn-verify,
    .btn-new-question {
        font-size: 0.8rem;
        padding: 8px;
    }
}
